USE [Carte]
GO
/****** Object:  UserDefinedTableType [dbo].[FoodWarningTypesTable]    Script Date: 08/12/2022 12:35:23 ******/
CREATE TYPE [dbo].[FoodWarningTypesTable] AS TABLE(
	[Name] [nvarchar](50) NULL
)
GO
